* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v26_4 {
  width: 414px;
  height: 736px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_8 {
  width: 414px;
  height: 72px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 664px;
  left: 0px;
  overflow: hidden;
}
.v26_7 {
  width: 414px;
  height: 52px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_9 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 696px;
  left: 169px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v26_22 {
  width: 27px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 696px;
  left: 277px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v26_23 {
  width: 35px;
  color: rgba(107,107,107,1);
  position: absolute;
  top: 696px;
  left: 111px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v26_24 {
  width: 118px;
  height: 8px;
  background: rgba(182,182,182,1);
  opacity: 1;
  position: absolute;
  top: 719px;
  left: 148px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v26_28 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 236px;
  left: 12px;
  font-family: Mohave;
  font-weight: Medium;
  opacity: 1;
  text-align: left;
}
